

body{
    width: 100%;
    background-color: white;
    margin-top: 0px;
}
/*==================================================================
         GENERAL LAYOUT
==================================================================*/
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
}
/*==================================================================
         HEADER layout
==================================================================*/
.header{
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.Hcontainer1{
    display: flex;
    justify-content: center;
    width: 65%;
    
}
ul{
    display: flex;
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
    margin:0 20px;
    transition: 0.5s;
}
ul li a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
    color:black
    padding:5px;
    transition: .5s;
}
ul:hover li a {
    transform: scale(1.2);
    opacity: .2;
    filter: blur(5px);
}

ul li a:hover {
    transform: scale(1.5);
    opacity: 1;
    filter: blur(0);
}
.Hcontent1{
    flex-wrap: warp;
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.Hcontainer2{
    display: flex;
    align-items: center;
}
.currentPage{
    border-bottom: 1px solid black;
}
/*==================================================================
         HEADER TYPOGRAPHGY
==================================================================*/

#Htitle{
    font-family:'Lora';
    margin-bottom: 1px;
    color: #143774;
    font-weight: 200;
    font-size: 3rem;
}
.header ul{

    list-style: none;
}
.header li{
    color: #717171;
    font-family: 'Lora regular';
    font-weight: normal;
    margin-left:25px ;
    font-size: 1.2rem;
}

#HSubtitle{
    font-family: 'ubuntu';
    font-weight: 400;
    color: #1792D2;
    margin-bottom: .2rem;
    font-size:2rem;
}
a:hover{
    color: red;
}
a{
    text-decoration: none;
}
nav a {
    color: black;
}

/*==================================================================
         container2 layout
==================================================================*/
#mainimg{
    border-radius: 5%;
    width: 100%;
}

.container2{
    column-gap: 2%;
    display:grid;
    grid-template-columns: 75% 23%;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/*==================================================================
         MAINPOSTTTT
==================================================================*/
.MainPost{
    width: 100%;
    border-bottom: 2px solid grey;
}
/*articalessssssssss*/
.posts{
    width: 100%;
    display: flex;
    gap: 30px;
    flex-direction: column;
}
 .one{
    gap: 5%;
    display: flex;
  
 }
 .two{
    gap: 5%;
    display: flex;
    
 }
 .three{
    gap: 5%;
    display: flex;
    
 }
 .subArtimg{
    object-fit: contain;
    border-radius: 10%;
    width:30% ;
    display: block;
 }
.subArtcontent{
    width: 65%;
}
/*==================================================================
         SIDEBAR
==================================================================*/
.sidebar{
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.border{
    border: 20px solid transparent;
    background-color: #EBEBEB;
}
.Aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
}
.sidebar img{
    border-radius: 5%;
    width: 90%;
}
.recent{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
background-color: white;
}
/*==================================================================
         FOOTER
==================================================================*/
footer{
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    background-color: #143774;
    flex-direction: column;
    line-height: 1%;
}
/*==================================================================
         TYPOGRAPHY
==================================================================*/

/*MAINPOSTTTT + articles*/
.keepReading{
   font-size:1rem;
   font-family: 'ubuntu';

}

.date{
    font-size: .8rem;
    font-family: 'Segoe UI';
    color:#707070
}
h2{
    color: #143774;
    font-family: 'lora';
    font-weight: 200;
    font-size: 1.5rem;
}
.text{ 
    font-weight: 200;
    color: #707070;
    font-family: 'ubuntu';
    font-size: 1.2rem;
}
/*==================================================================
         SIDEBAR
==================================================================*/
h3{
    font-size: 1.2rem;
    font-weight: bold;
    color: #143774;
    font-family: 'ubuntu';
}
.sidebar p{
    width: 90%;
    font-size: 1rem;
    color:#143774;
    font-family: 'ubuntu';
    font-weight: normal;
}
/*==================================================================
         FOOTER
==================================================================*/
h6{
    font-size: 1.2rem;
    opacity: 54%;
    margin-bottom: 20px;
}
.footer p{
    font-weight: lighter;
    font-size: .8rem;
    opacity: 54%;
}
@media   (max-width:500px) {
    /*==================================================================
         HEADER layout
==================================================================*/
   
    #Htitle{
        font-size: 2rem;
    }
    #HSubtitle{
        font-size: 1rem;
    }
    .header{
        width: 100%;
        align-items: center;
        flex-direction: column;
    }
    .Hcontent1{
        width: 100%;
    }
    .container{
        width: 100%;
        align-items: center;
    }
    .Hcontainer2{
        margin-right: 100px ;
        justify-content: center;
        flex-direction: column;
    }
    ul{
        gap: 20px;
        width: 100%;
        align-items:  center;
        flex-direction: column;
    }
    .container2{
        width: 100%;
        grid-template-columns: none;
        grid-template-rows: 63% fr;
    }
    .content{
        margin: auto;
        margin-top: 0;
        width: 100%;
    }
    .art{
        flex-direction: column;
    }
    .subArtimg{
        height: 200px;
        width: 100%;
    }
    .subArtcontent{
        width: 100%;
    }
    .Aboutme img{
        width: 50%;
    }
    .footer{
        width: 100%;
    }
}